body{
    margin: 0;
}

.header{
    background-color: #023e8a;
    font-size: 30px;
    padding-bottom: 2.5%;
    padding-top: 2%;
    width:100%;
    margin: 0;
}

.buttons{
    display: block;
    text-align: right;
    position: relative; 
    left: -45px;
    margin-top: -4%;
}

.home{
   text-align: center;
   height:40px;
   width:90px;
   font-size: 15px;
   font-style: 'Open Sans', sans-serif;;
   background-color:#76c893;
   border: none;
   border-radius: 12px;
   font-family: 'Bebas Neue', cursive;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Redressed', cursive;
}
